@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

// Colors
$white: #fff;
$black: #000;

// Base
$primary: #2fc563;
$primary-dark: darken($primary, 10%);
$background: #27272b;
$background-light: lighten($background, 10%);
$background-lighter: lighten($background, 20%);
$text: #dbdbdb;
$link: $background-light;
$hover: $white;

// Fonts
$big-text: 'Permanent Marker', cursive;

// Body
$body-background-color: $background;

// Navbar
$navbar-height: 4rem;
$navbar-background-color: $primary;
$navbar-item-hover-color: $hover;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-background-color: $primary;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-color: $hover;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-dropdown-border-top: 0;

// Box
$box-background-color: $background;

// Buttons
$button-primary-color: $background;

// Labels
$label-color: $text;

$navbar-breakpoint: 600px;
$desktop: 1023px;

// Les variables de Bulma qu'on veut overrider doivent être avant l'import de Bulma
@import '../../../node_modules/bulma/bulma.sass';
// Les variables basées sur Bulma doivent être après l'import

// La classe Bulma ne marche pas
.is-rounded {
  border-radius: 50%;
}

a.button.is-primary,
a.button.is-primary:hover {
  color: $background;
}
