@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

// Colors
$white: #fff;
$black: #000;

// Base
$primary: #2fc563;
$primary-dark: darken($primary, 10%);
$background: #27272b;
$background-light: lighten($background, 10%);
$background-lighter: lighten($background, 20%);
$text: #dbdbdb;
$link: $background-light;
$hover: white;

// Fonts
$stylish-text: 'Permanent Marker', cursive;

// Body
$body-background-color: $background;

// Navbar
$navbar-height: 4rem;
$navbar-background-color: $primary;
$navbar-item-hover-color: $hover;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-background-color: $primary;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-item-hover-color: $hover;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-dropdown-border-top: 0;

// Dropdown
$dropdown-content-background-color: $primary;
$dropdown-item-hover-color: white;
$dropdown-item-hover-background-color: $primary;

// Box
$box-background-color: $background;

// Buttons
$button-primary-color: $background;

// Labels
$label-color: $text;

$navbar-breakpoint: 600px;

// Seems to be off by one errors in Bulma
$tablet: 767px;
$desktop: 1023px;

// To override Bulma variables, declare variable with same name above import
@import '../../../node_modules/bulma/bulma.sass';

// Bulma built-in does not work
.is-rounded {
  border-radius: 50%;
}

.bumped-right {
  margin-left: 10px;
}

.bumped-left {
  margin-right: 10px;
}

.bumped-down {
  margin-top: 10px;
}

.is-primary {
  color: $primary;
}

.is-clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Vue-Toasted custom colors
// Have to use !important to override built-ins
.ubeat-success {
  background-color: $primary !important;
}

.ubeat-error {
  background-color: $danger !important;
}

// Exports for use in components
:export {
  primary: $primary;
}
